* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --color-main: #3dbea7;
    --color-opacity: #9edfd3;
    --line: #AEB404;
}

a {
    text-decoration: none;
    color: #5c4f4f;
}

body {
    background-color: #F2F2F2;
}

.header {
    height: auto;
}

.header__nav {
    height: 40px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-evenly;
    line-height: 30px;
    text-align: center;
}

.header__nav__left {
    width: 80%;
    margin: 5px 0;
}

.header__nav__left > ul {
    display: flex;
    text-decoration: none;
}

.header__nav__left > ul > li {
    display: block;
    padding: 0 10px;
}

.header__nav__right {
    width: 20%;
    margin: 5px 0;
}

.header__nav__right > ul {
    display: flex;
}

.header__nav__right > ul > li {
    display: block;
    padding: 0 10px;
} 

.header__nav__left > ul > li:not(:last-child), 
.header__nav__right > ul > li:not(:last-child) {
    border-right: 1px solid black;
}

.header__container {
    height: 120px;
    display: flex;
    background-color: #fff;
    line-height: 100px;
    align-items: center;
}

.header__container__logo {
    width: 20%;
}

.header__container__thumb {
    width: 100px;
    height: 100px;
    margin-left: 50px;
}

.header__container__thumb  a {
    width: 100px;
    height: 100px;
    display: block;
}

.header__container__thumb > a > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.header__container__search {
    width: 60%;
    text-align: center;
    align-items: center;
    opacity: 0.5;
}

.header__container__search input {
    outline: none;
    border-radius: 10px 0 0 10px;
    border: none;
    padding: 10px;
    margin-right: -5px;
    width: 50%;
    height: 40px;
    border: 1px solid var(--color-main);
}

.header__container__search button {
    padding: 12px 12px;
    background-color: var(--color-main);
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    outline: none;
    border: none;
}

.header__container__cart {
    width: 20%;
    color: #616161;
}

.header__container__cart > a {
    display: block;
    height: 100%;
    width: 100%;
}

.header__container__cart  i {
    font-size: 30px;
    padding: 5px;
    color: #3dbea7;
}

.header__container__cart span {
    font-size: 16px;
}
/* Navbar */
.nav {
    height: 60px;
    border-top: 3px solid var(--line);
    background-color: #fff;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border: none;
    background-color: var(--color-opacity);}

.nav > ul{
    display: flex;
    padding-top: 5px;
    margin: 0 250px;
}

.nav > ul > li {
    display: block;
    padding: 10px 0;
    margin: 0 auto;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    width: 180px;
    position: relative;
}

.nav__link , .nav__link > i {
    font-size: 18px;
    text-transform: uppercase;
    color: #000;
}

.nav__item:hover {
    background-color: var(--color-main);
    border-radius: 1px;
}

.nav__item:hover > .nav__link, .nav__item:hover > .nav__link > i {
    color: #fff;
}

/* List san pham */

.nav__item > ul {
    list-style: none;
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    border: 1px solid #ccc;
    z-index: 2;
}

.nav__item > ul > li {
    background-color:#FAFAFA;
    display: block;
    border-bottom: 2px solid #AEB404;
    height: 40px;
    align-items: center;
    line-height: 40px;
    text-align: left;
}

.nav__item > ul > li > a {
    display: block;
    width: 100%;
    height: 100%;
    margin-left: 20px;
}

.nav__item > ul > li:last-child {
    border: none;
}

.nav__item:hover > ul {
    display: block;
}

.nav__item > ul > li:hover {
    background-color: #9edfd3;
}

/* main */
.main {
    margin: 20px 100px;
}

.main .header {
    display: flex;
    height: 400px;
}

/* Menu */
.main .menu {
    width: 20%;
    height: 100%;
}

.main > .header > .menu > ul {
    display: block;
    list-style: none;
    line-height: 50px;
    align-items: center;
}

.main > .header > .menu > ul > li {
    display: block;
    height: 50px;
    background-color: blanchedalmond;
    border: 1px solid #ccc;
    padding-left: 20px;
}

.main > .header > .menu > ul > li:first-child {
    background-color: seagreen;
}

/* Slider */
.main .slider {
    width: 80%;
    margin: 0 50px;
    border: 1px solid #ccc;
}

.slider .slider__wrapper {
    width: 100%;
    position: relative;
    height: 100%;
}

.slider .slide__container .myslide {
    display: none;
}

.slider .slide__container {
    width: 100%;
    position: absolute;
    height: 100%;
}

.slider .slide__container .myslide {
    height: 100%;
    width: 100%;
}

.slider .slide__container .myslide > img {
    margin: 0 auto;
    display: block;
    height: 100%;
    width: 100%;
}

/* Product*/

.row {
    height: 400px;
    margin-top: 20px;
    background-color: #fff;
}

.row__container {
    height: 100%;
    display: flex;
}

.product__pre {
    width: 20%;
    height: 100%;
    background-color: #91B3A5;
}

.product__pre > h2 {
    color: #fff;
    font-size: 20px;
    margin: 20px 20px 0;
}

.product__pre > p {
    color: #fff;
    margin: 10px 20px;
    word-spacing: 1px;
}

.product__container {
    width: 80%;
    margin: 0 20px;
    height: 100%;
}

.product__title {
    height: 50px;
    align-items: center;
    line-height: 50px;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.btn {
    display: flex;
    height: 100%;
    justify-content: center;
}

.btn-prev, .btn-next {
    height: 30px;
    width: 30px;
    border: 1px solid #ccc;
    text-align: center;
    align-items: center;
    line-height: 30px;
    margin: 10px 0;
    cursor: pointer;
}

.product__detail, .product__paint-wall{
    height: 310px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.product__card {
    width: 250px;
    height: 100%;
    margin-top: 10px;
    border: 1px solid #F2F2F2;
    position: relative;
}

.card__photo {
    height: 210px;
    width: 210px;
    margin: 20px 20px 0;
}

.card__photo > img {
    width: 100%;
    height: 100%;
}

.card__content {
    font-weight: bold;
    padding: 10px;
    text-align: center;
    height: 50px;
}

.card__price {
    color: #ff0000;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    height: 50px;
}

/* Card hover */
.card__hover {
    height: 100%;
    width: 100%;
    background-color: rgba(240, 234, 234, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.card__hover__more, .card__hover__addcart {
    height: 40px;
    width: 150px;
    background-color: #3dbea7;
    margin: 5px 0;
    text-align: center;
    line-height: 40px;
    align-items: center;
    cursor: pointer;
}

.card__hover__addcart > a, .card__hover__more > a {
    color: #fff;
    display: block;
    height: 100%;
    width: 100%;
}

.product__card:hover .card__hover {
    display: flex;
    border: 1px solid #ccc;
}

.card__hover__more:hover, .card__hover__addcart:hover {
    background-color: #DF3A01;
}

/* Tranh treo tường */

.product__paint-wall {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    border: 1px solid #ccc;
}

.product__paint-wall > .product__title {
    height: 50px;
    padding-left: 45px;
    background-color: #fff;
    margin: 0;
}

.product__paint-wall__container {
    height: 350px;
    width: 100%;
    display: flex;
}

.product__paint-wall__container > .btn {
    width: 4%;
    align-items: center;
    line-height: 350px;
    display: block;
}

.product__paint-wall__container > .btn > .btn-next, 
.product__paint-wall__container > .btn > .btn-prev {
    height: 100%;
    margin: 0;
    width: 100%;
    align-items: center;
    line-height: 310px;
    background-color: var(--color-opacity);
    opacity: 0.5;
}

.product__paint-wall__container > .btn > .btn-next:hover, 
.product__paint-wall__container > .btn > .btn-prev:hover {
    background-color: var(--color-main);
}

.product__paint-wall__container > .btn > .btn-next >i,
.product__paint-wall__container > .btn > .btn-prev > i {
    font-size: 40px;
    text-align: center;
}

.product__paint-wall__container > .paint-wall {
    width: 92%;
    height: 100%;
}

.product__paint-wall__container > .paint-wall > .paint-wall__item {
    justify-content: space-around;
}

.product__paint-wall__container > .paint-wall > .paint-wall__item > .product__card {
    width: 240px;
}

.product__paint-wall__container > .paint-wall > .paint-wall__item .card__photo {
    margin: 10px;
}


/* Tin tức */

.news{
    height: 400px;
    width: 100%;
    margin-top: 20px;
}

.news__title {
    height: 60px;
    background-color: #ccc;
    text-transform: uppercase;
    font-size: 30px;
    border-bottom: 3px solid #AEB404;
    align-items: center;
    line-height: 57px;
    text-align: center;
}

.new__container {
     display: flex;
     height: 320px;
     justify-content: space-around;
}

.new__container > .post {
    width: 30%;
    height: 100%;
    background-image: url("../img/News/news-cover-01.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    margin-top: 20px;
    border: 1px solid #cccccc;
}

.new__container > .post > .date {
    background-color: #000;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 20px;
}

.new__container > .post > a {
    background-color: rgba(000, 000, 000, 0.8);
    color: #fff;
    height: auto;
    position: absolute;
    top: 50%;
    width: 100%;
    align-items: center;
    line-height: 30px;
    text-align: center;
    padding: 20px 0;
    display: block;
}

/* Chính sách */
.policy {
    height: 300px;
    width: 100%;
    margin-top: 20px;
}

.policy__titile {
    background-color: #9edfd3;
    height: 50px;
    align-items: center;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.policy__container {
    background-image: url(../img/policy.jpg);
    height: 250px;
    display: flex;
}

.policy__content {
    height: 100%;
    background-color: rgba(54, 56, 56, 0.8);
    width: 25%;
}

.policy__content > h5 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin-top: 100px;
    font-size: 18px;
}

.policy__content > p {
    text-align: center;
    margin: 0 10px;
    margin-top: 20px;
    color: #ffffff;
}

/* Footer */
.footer {
    height: 300px;
    width: 100%;
    background-color: #3D3D3D;
}

.footer__content { 
    display: flex;
    height: 100%;
    margin-top: 20px;
    justify-content: space-around;
    color: #fff;
}

.footer__content--contact {
    width: 23%;
}

.footer__content h5 {
    display: block;
    padding: 20px 0;
    margin: 0 20px;
}

.footer__content--contact > .footer__list {
    margin: 0 20px;
}

.footer__content--contact > .footer__list > .footer__item {
    display: block;
    border-bottom: 1px solid #5c4f4f;
    line-height: 30px;
    align-items: center;
    padding: 5px;
}

.footer__content--contact > .footer__list > .footer__item:last-child,
.footer__content--product > ul > li:last-child {
    border: none;
}

.footer__content--product {
    width: 23%;
    height: 100%;
}

.footer__content--product > a, 
.footer__content--product > ul > li  {
    display: block;
    height: 40px;
    width: 100%;
}

.footer__content--product a {
    color: #fff;
}

.footer__content ul {
    list-style: none;
    margin-left: 20px;
}

.footer__content  ul > li {
    border-bottom: 1px solid #5c4f4f;
    line-height: 40px;
    align-items: center;
}

.footer__content--policy {
    width: 23%;
}

.footer__content--more {
    width: 23%;
}

.footer__content--more > a {
    width: 100px;
    height: 100px;
}

.footer__content--more > a > img {
    height: 200px;
    width: 250px;
    margin-top: 50px;
}


.footer__coppyright {
    height: 40px;
    background-color: #5c4f4f;
    align-items: center;
    line-height: 40px;
    text-align: center;
}
